body, html{
    height:100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container{
    height: 100vh;
    width: 100vw;
    background-color: darkgray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#header{
    background-color: red;
    grid-column: 2 / 5;
    grid-row: 1 / 2;
}

#sidebar{
    background-color: rgb(35, 139, 208);
    grid-column: 1 / 1;
    grid-row: 1 / 6;
    display: flex;
    color: white;
    flex-direction: column;
}

.menu-item{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 0px;
    margin-left: 1em;
    line-height: 0;
    flex-wrap: wrap;
    font-size: clamp(10px, 2vw, 16px);
}

.menu-logo{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 1em;
    margin-bottom: 1.5em;
    margin-left: 0.7em;
    line-height: 0;
    flex-wrap: wrap;
    font-size: clamp(10px, 3vw, 20px);
}

#break{
    margin-top: 2em;
}

#content{
    grid-column: 2 / 5;
    grid-row: 3 / 6;
}